<div class="sidenav">
    <div class="container">
        <div class="row">
            <div class="col align-self-start float">
                <div class="text-center">
                    <h1>User</h1>
                </div>
                <div class="d-grid gap-2 col-11 mx-auto nt-4" id="button-container">
                    
                    <button class="btn btn-light" id="" type="button" routerLink="/">
                        Login / Register
                    </button>
                    
                    <button class="btn btn-light" id="" type="button" routerLink="/items">
                        Items
                    </button>

                    <!-- <button class="btn btn-light" id="" type="button" [routerLink]="['/fname', id]">
                        Cart
                    </button> -->

                    <button class="btn btn-light" id="" type="button" routerLink="/cart">
                        Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
